src/main/resources/org/relaxer/framework/runtime/models/opendocument/model/presentation/presentation.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:java="http://www.relaxer.org/xmlns/relaxer/java"
         xmlns:relaxer="http://www.relaxer.org/xmlns/relaxer"
         xmlns:sql="http://www.relaxer.org/xmlns/relaxer/sql"
         xmlns:datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0"
         xmlns:presentation="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
         xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0"
         xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
         xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
         xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg:1.0"
         xmlns:fo="http://www.w3.org/1999/XSL/Format"
         ns="urn:oasis:names:tc:opendocument:xmlns:office:1.0">
  <!-- Aug. 20, 2005-->
  <!-- Sep.  1, 2005-->
  <start>
    <ref name="document-content"/>
  </start>
  <define name="notes">
    <element name="notes"
             ns="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0">
      <attribute name="presentation:style-name">
        <data type="token"/>
      </attribute>
      <ref name="page-thumbnail"/>
      <ref name="frame"/>
    </element>
  </define>
  <define name="page-thumbnail">
    <element name="page-thumbnail"
             ns="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0">
      <attribute name="draw:layer">
        <data type="token"/>
      </attribute>
      <attribute name="draw:page-number">
        <data type="int"/>
      </attribute>
      <attribute name="presentation:style-name">
        <data type="token"/>
      </attribute>
      <attribute name="presentation:class">
        <data type="token"/>
      </attribute>
      <attribute name="svg:height">
        <data type="token"/>
      </attribute>
      <attribute name="svg:width">
        <data type="token"/>
      </attribute>
      <attribute name="svg:x">
        <data type="token"/>
      </attribute>
      <attribute name="svg:y">
        <data type="token"/>
      </attribute>
    </element>
  </define>
  <define name="frame">
    <element name="frame"
             ns="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0">
      <attribute name="draw:layer">
        <data type="token"/>
      </attribute>
      <optional>
        <attribute name="text-style-name"> <!-- XXX -->
          <data type="token"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="presentation:class">
          <data type="token"/>
        </attribute>
      </optional>
      <optional>
      <attribute name="presentation:style-name">
        <data type="token"/>
      </attribute>
      </optional>
      <optional>
      <attribute name="svg:height">
        <data type="token"/>
      </attribute>
      </optional>
      <optional>
      <attribute name="svg:width">
        <data type="token"/>
      </attribute>
      </optional>
      <optional>
      <attribute name="svg:x">
        <data type="token"/>
      </attribute>
      </optional>
      <optional>
      <attribute name="svg:y">
        <data type="token"/>
      </attribute>
      </optional>
      <optional>
        <attribute name="presentation:placeholder">
          <data type="boolean"/>
        </attribute>
      </optional>
      <ref name="text-box"/>
    </element>
  </define>
  <define name="text-box">
    <element name="text-box"
             ns="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0">
      <oneOrMore>
        <choice>
          <ref name="p"/>
          <ref name="list"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="page">
    <element name="page"
             ns="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0">
      <optional>
        <attribute name="draw:master-page-name">
          <data type="token"/>
        </attribute>
      </optional>
      <attribute name="draw:name">
        <data type="token"/>
      </attribute>
      <optional>
        <attribute name="draw:style-name">
          <data type="token"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="draw:presentation-page-layout-name">
          <data type="token"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="frame"/>
      </zeroOrMore>
      <optional>
        <ref name="notes"/>
      </optional>
    </element>
  </define>
  <define name="document-content">
    <element name="document-content">
      <optional>
        <attribute name="office:version">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <element name="scripts">
          <empty/>
        </element>
      </optional>
      <optional>
        <ref name="automatic-styles"/>
      </optional>
      <ref name="body"/>
    </element>
  </define>
  <define name="automatic-styles">
    <element name="automatic-styles">
      <oneOrMore>
        <ref name="style"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="list-style"/>
      </oneOrMore>
    </element>
  </define>
  <define name="body">
    <element name="body">
      <ref name="presentation"/>
    </element>
  </define>
  <define name="presentation">
    <element name="presentation">
      <oneOrMore>
        <ref name="page"/>
      </oneOrMore>
    </element>
  </define>
  <define name="list">
    <element name="list"
             ns="urn:oasis:names:tc:opendocument:xmlns:text:1.0">
      <optional>
        <attribute name="text:style-name">
          <data type="token"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="list-item"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="list-item">
    <element name="list-item"
             ns="urn:oasis:names:tc:opendocument:xmlns:text:1.0">
      <choice>
        <ref name="list"/>
        <ref name="p"/>
      </choice>
    </element>
  </define>
  <define name="p">
    <element name="p"
             ns="urn:oasis:names:tc:opendocument:xmlns:text:1.0">
      <optional>
        <attribute name="text:style-name">
          <data type="token"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="tab"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="tab">
    <element name="tab"
             ns="urn:oasis:names:tc:opendocument:xmlns:text:1.0">
      <empty/>
    </element>
  </define>
  <define name="list-style">
    <element name="list-style"
             ns="urn:oasis:names:tc:opendocument:xmlns:text:1.0">
      <attribute name="style:name">
        <data type="token"/>
      </attribute>
      <oneOrMore>
        <ref name="list-level-style-bullet"/>
      </oneOrMore>
    </element>
  </define>
  <define name="list-level-style-bullet">
    <element name="list-level-style-bullet"
             ns="urn:oasis:names:tc:opendocument:xmlns:text:1.0">
      <attribute name="text:bullet-char">
        <data type="token"/>
      </attribute>
      <attribute name="text:level">
        <data type="int"/>
      </attribute>
      <optional>
        <ref name="list-level-properties"/>
      </optional>
      <ref name="text-properties"/>
    </element>
  </define>
  <define name="text-properties">
    <element name="text-properties"
             ns="urn:oasis:names:tc:opendocument:xmlns:style:1.0">
      <attribute name="fo:font-family">
        <data type="token"/>
      </attribute>
      <attribute name="fo:font-size">
        <data type="token"/>
      </attribute>
      <attribute name="style:use-window-font-color">
        <data type="boolean"/>
      </attribute>
    </element>
  </define>
  <define name="style">
    <element name="style"
             ns="urn:oasis:names:tc:opendocument:xmlns:style:1.0">
      <attribute name="style:family">
        <data type="token"/>
      </attribute>
      <attribute name="style:name">
        <data type="token"/>
      </attribute>
      <optional>
        <attribute name="style:parent-style-name">
          <data type="token"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style:list-style-name">
          <data type="token"/>
        </attribute>
      </optional>
      <choice>
        <ref name="drawing-page-properties"/>
        <ref name="graphic-properties"/>
        <ref name="paragraph-properties"/>
      </choice>
    </element>
  </define>
  <define name="drawing-page-properties">
    <element name="drawing-page-properties"
             ns="urn:oasis:names:tc:opendocument:xmlns:style:1.0">
      <optional>
        <attribute name="presentation:background-objects-visible">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="presentation:background-visible">
          <data type="boolean"/>
        </attribute>
      </optional>
      <attribute name="presentation:display-date-time">
        <data type="boolean"/>
      </attribute>
      <attribute name="presentation:display-footer">
        <data type="boolean"/>
      </attribute>
      <attribute name="presentation:display-page-number">
        <data type="boolean"/>
      </attribute>
      <optional>
        <attribute name="presentation:display-header">
          <data type="boolean"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="graphic-properties">
    <element name="graphic-properties"
             ns="urn:oasis:names:tc:opendocument:xmlns:style:1.0">
      <optional>
        <attribute name="style:protect">
          <data type="token"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="auto-grow-height"> <!-- XXX -->
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="draw:fill-color">
          <data type="token"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="fo:min-height">
          <data type="token"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="paragraph-properties">
    <element name="paragraph-properties"
             ns="urn:oasis:names:tc:opendocument:xmlns:style:1.0">
      <attribute name="fo:margin-left">
        <data type="token"/>
      </attribute>
      <attribute name="fo:margin-right">
        <data type="token"/>
      </attribute>
      <attribute name="fo:text-indent">
        <data type="token"/>
      </attribute>
    </element>
  </define>
  <define name="list-level-properties">
    <element name="list-level-properties"
             ns="urn:oasis:names:tc:opendocument:xmlns:style:1.0">
      <attribute name="text:min-label-width">
        <data type="token"/>
      </attribute>
      <attribute name="text:space-before">
        <data type="token"/>
      </attribute>
    </element>
  </define>
</grammar>
