src/main/resources/org/xmlsmartdoc/SmartDoc/mathml/rParts/MathML.dtd

<!-- Generated by Relaxer 0.10.2b -->
<!-- Sat Sep 02 10:06:18 JST 2000 -->

<!ELEMENT mover (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mover accent NMTOKEN #IMPLIED>
<!ATTLIST mover class CDATA #IMPLIED>
<!ATTLIST mover style CDATA #IMPLIED>
<!ATTLIST mover id ID #IMPLIED>
<!ATTLIST mover other CDATA #IMPLIED>

<!ELEMENT determinant EMPTY>
<!ATTLIST determinant definitionURL CDATA #IMPLIED>
<!ATTLIST determinant class CDATA #IMPLIED>
<!ATTLIST determinant style CDATA #IMPLIED>
<!ATTLIST determinant id ID #IMPLIED>
<!ATTLIST determinant other CDATA #IMPLIED>

<!ELEMENT sin EMPTY>
<!ATTLIST sin definitionURL CDATA #IMPLIED>
<!ATTLIST sin class CDATA #IMPLIED>
<!ATTLIST sin style CDATA #IMPLIED>
<!ATTLIST sin id ID #IMPLIED>
<!ATTLIST sin other CDATA #IMPLIED>

<!ELEMENT notprsubset EMPTY>
<!ATTLIST notprsubset definitionURL CDATA #IMPLIED>
<!ATTLIST notprsubset class CDATA #IMPLIED>
<!ATTLIST notprsubset style CDATA #IMPLIED>
<!ATTLIST notprsubset id ID #IMPLIED>
<!ATTLIST notprsubset other CDATA #IMPLIED>

<!ELEMENT eq EMPTY>
<!ATTLIST eq definitionURL CDATA #IMPLIED>
<!ATTLIST eq class CDATA #IMPLIED>
<!ATTLIST eq style CDATA #IMPLIED>
<!ATTLIST eq id ID #IMPLIED>
<!ATTLIST eq other CDATA #IMPLIED>

<!ELEMENT msup (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST msup superscriptshift CDATA #IMPLIED>
<!ATTLIST msup class CDATA #IMPLIED>
<!ATTLIST msup style CDATA #IMPLIED>
<!ATTLIST msup id ID #IMPLIED>
<!ATTLIST msup other CDATA #IMPLIED>

<!ELEMENT mfenced (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mfenced open CDATA #IMPLIED>
<!ATTLIST mfenced close CDATA #IMPLIED>
<!ATTLIST mfenced separators CDATA #IMPLIED>
<!ATTLIST mfenced class CDATA #IMPLIED>
<!ATTLIST mfenced style CDATA #IMPLIED>
<!ATTLIST mfenced id ID #IMPLIED>
<!ATTLIST mfenced other CDATA #IMPLIED>

<!ELEMENT tanh EMPTY>
<!ATTLIST tanh definitionURL CDATA #IMPLIED>
<!ATTLIST tanh class CDATA #IMPLIED>
<!ATTLIST tanh style CDATA #IMPLIED>
<!ATTLIST tanh id ID #IMPLIED>
<!ATTLIST tanh other CDATA #IMPLIED>

<!ELEMENT root EMPTY>
<!ATTLIST root definitionURL CDATA #IMPLIED>
<!ATTLIST root class CDATA #IMPLIED>
<!ATTLIST root style CDATA #IMPLIED>
<!ATTLIST root id ID #IMPLIED>
<!ATTLIST root other CDATA #IMPLIED>

<!ELEMENT divide EMPTY>
<!ATTLIST divide definitionURL CDATA #IMPLIED>
<!ATTLIST divide class CDATA #IMPLIED>
<!ATTLIST divide style CDATA #IMPLIED>
<!ATTLIST divide id ID #IMPLIED>
<!ATTLIST divide other CDATA #IMPLIED>

<!ELEMENT degree (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST degree class CDATA #IMPLIED>
<!ATTLIST degree style CDATA #IMPLIED>
<!ATTLIST degree id ID #IMPLIED>
<!ATTLIST degree other CDATA #IMPLIED>

<!ELEMENT msub (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST msub subscriptshift CDATA #IMPLIED>
<!ATTLIST msub class CDATA #IMPLIED>
<!ATTLIST msub style CDATA #IMPLIED>
<!ATTLIST msub id ID #IMPLIED>
<!ATTLIST msub other CDATA #IMPLIED>

<!ELEMENT mtable (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mtable align CDATA #IMPLIED>
<!ATTLIST mtable rowalign CDATA #IMPLIED>
<!ATTLIST mtable columnalign CDATA #IMPLIED>
<!ATTLIST mtable groupalign CDATA #IMPLIED>
<!ATTLIST mtable alignmentscope CDATA #IMPLIED>
<!ATTLIST mtable rowspacing CDATA #IMPLIED>
<!ATTLIST mtable columnspacing CDATA #IMPLIED>
<!ATTLIST mtable rowlines CDATA #IMPLIED>
<!ATTLIST mtable columnlines CDATA #IMPLIED>
<!ATTLIST mtable frame NMTOKEN #IMPLIED>
<!ATTLIST mtable framespacing CDATA #IMPLIED>
<!ATTLIST mtable equalrows CDATA #IMPLIED>
<!ATTLIST mtable equalcolumns CDATA #IMPLIED>
<!ATTLIST mtable displaystyle NMTOKEN #IMPLIED>
<!ATTLIST mtable class CDATA #IMPLIED>
<!ATTLIST mtable style CDATA #IMPLIED>
<!ATTLIST mtable id ID #IMPLIED>
<!ATTLIST mtable other CDATA #IMPLIED>

<!ELEMENT msubsup (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST msubsup subscriptshift CDATA #IMPLIED>
<!ATTLIST msubsup superscriptshift CDATA #IMPLIED>
<!ATTLIST msubsup class CDATA #IMPLIED>
<!ATTLIST msubsup style CDATA #IMPLIED>
<!ATTLIST msubsup id ID #IMPLIED>
<!ATTLIST msubsup other CDATA #IMPLIED>

<!ELEMENT intersect EMPTY>
<!ATTLIST intersect definitionURL CDATA #IMPLIED>
<!ATTLIST intersect class CDATA #IMPLIED>
<!ATTLIST intersect style CDATA #IMPLIED>
<!ATTLIST intersect id ID #IMPLIED>
<!ATTLIST intersect other CDATA #IMPLIED>

<!ELEMENT mprescripts EMPTY>
<!ATTLIST mprescripts class CDATA #IMPLIED>
<!ATTLIST mprescripts style CDATA #IMPLIED>
<!ATTLIST mprescripts id ID #IMPLIED>
<!ATTLIST mprescripts other CDATA #IMPLIED>

<!ELEMENT bvar (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST bvar class CDATA #IMPLIED>
<!ATTLIST bvar style CDATA #IMPLIED>
<!ATTLIST bvar id ID #IMPLIED>
<!ATTLIST bvar other CDATA #IMPLIED>

<!ELEMENT malignmark EMPTY>
<!ATTLIST malignmark edge NMTOKEN #IMPLIED>
<!ATTLIST malignmark class CDATA #IMPLIED>
<!ATTLIST malignmark style CDATA #IMPLIED>
<!ATTLIST malignmark id ID #IMPLIED>
<!ATTLIST malignmark other CDATA #IMPLIED>

<!ELEMENT power EMPTY>
<!ATTLIST power definitionURL CDATA #IMPLIED>
<!ATTLIST power class CDATA #IMPLIED>
<!ATTLIST power style CDATA #IMPLIED>
<!ATTLIST power id ID #IMPLIED>
<!ATTLIST power other CDATA #IMPLIED>

<!ELEMENT sum EMPTY>
<!ATTLIST sum definitionURL CDATA #IMPLIED>
<!ATTLIST sum class CDATA #IMPLIED>
<!ATTLIST sum style CDATA #IMPLIED>
<!ATTLIST sum id ID #IMPLIED>
<!ATTLIST sum other CDATA #IMPLIED>

<!ELEMENT declare (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST declare type CDATA #IMPLIED>
<!ATTLIST declare scope CDATA #IMPLIED>
<!ATTLIST declare nargs CDATA #IMPLIED>
<!ATTLIST declare occurrence CDATA #IMPLIED>
<!ATTLIST declare definitionURL CDATA #IMPLIED>
<!ATTLIST declare class CDATA #IMPLIED>
<!ATTLIST declare style CDATA #IMPLIED>
<!ATTLIST declare id ID #IMPLIED>
<!ATTLIST declare other CDATA #IMPLIED>

<!ELEMENT variance EMPTY>
<!ATTLIST variance definitionURL CDATA #IMPLIED>
<!ATTLIST variance class CDATA #IMPLIED>
<!ATTLIST variance style CDATA #IMPLIED>
<!ATTLIST variance id ID #IMPLIED>
<!ATTLIST variance other CDATA #IMPLIED>

<!ELEMENT exists EMPTY>
<!ATTLIST exists definitionURL CDATA #IMPLIED>
<!ATTLIST exists class CDATA #IMPLIED>
<!ATTLIST exists style CDATA #IMPLIED>
<!ATTLIST exists id ID #IMPLIED>
<!ATTLIST exists other CDATA #IMPLIED>

<!ELEMENT prsubset EMPTY>
<!ATTLIST prsubset definitionURL CDATA #IMPLIED>
<!ATTLIST prsubset class CDATA #IMPLIED>
<!ATTLIST prsubset style CDATA #IMPLIED>
<!ATTLIST prsubset id ID #IMPLIED>
<!ATTLIST prsubset other CDATA #IMPLIED>

<!ELEMENT uplimit (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST uplimit class CDATA #IMPLIED>
<!ATTLIST uplimit style CDATA #IMPLIED>
<!ATTLIST uplimit id ID #IMPLIED>
<!ATTLIST uplimit other CDATA #IMPLIED>

<!ELEMENT abs EMPTY>
<!ATTLIST abs definitionURL CDATA #IMPLIED>
<!ATTLIST abs class CDATA #IMPLIED>
<!ATTLIST abs style CDATA #IMPLIED>
<!ATTLIST abs id ID #IMPLIED>
<!ATTLIST abs other CDATA #IMPLIED>

<!ELEMENT log EMPTY>
<!ATTLIST log definitionURL CDATA #IMPLIED>
<!ATTLIST log class CDATA #IMPLIED>
<!ATTLIST log style CDATA #IMPLIED>
<!ATTLIST log id ID #IMPLIED>
<!ATTLIST log other CDATA #IMPLIED>

<!ELEMENT mstyle (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mstyle fontsize CDATA #IMPLIED>
<!ATTLIST mstyle fontweight NMTOKEN #IMPLIED>
<!ATTLIST mstyle fontstyle NMTOKEN #IMPLIED>
<!ATTLIST mstyle fontfamily CDATA #IMPLIED>
<!ATTLIST mstyle color CDATA #IMPLIED>
<!ATTLIST mstyle form NMTOKEN #IMPLIED>
<!ATTLIST mstyle fence NMTOKEN #IMPLIED>
<!ATTLIST mstyle separator NMTOKEN #IMPLIED>
<!ATTLIST mstyle lspace CDATA #IMPLIED>
<!ATTLIST mstyle rspace CDATA #IMPLIED>
<!ATTLIST mstyle stretchy NMTOKEN #IMPLIED>
<!ATTLIST mstyle symmetric NMTOKEN #IMPLIED>
<!ATTLIST mstyle maxsize CDATA #IMPLIED>
<!ATTLIST mstyle minsize CDATA #IMPLIED>
<!ATTLIST mstyle largeop NMTOKEN #IMPLIED>
<!ATTLIST mstyle movablelimits NMTOKEN #IMPLIED>
<!ATTLIST mstyle accent NMTOKEN #IMPLIED>
<!ATTLIST mstyle lquote CDATA #IMPLIED>
<!ATTLIST mstyle rquote CDATA #IMPLIED>
<!ATTLIST mstyle linethickness CDATA #IMPLIED>
<!ATTLIST mstyle scriptlevel CDATA #IMPLIED>
<!ATTLIST mstyle scriptsizemultiplier CDATA #IMPLIED>
<!ATTLIST mstyle scriptminsize CDATA #IMPLIED>
<!ATTLIST mstyle background CDATA #IMPLIED>
<!ATTLIST mstyle open CDATA #IMPLIED>
<!ATTLIST mstyle close CDATA #IMPLIED>
<!ATTLIST mstyle separators CDATA #IMPLIED>
<!ATTLIST mstyle subscriptshift CDATA #IMPLIED>
<!ATTLIST mstyle superscriptshift CDATA #IMPLIED>
<!ATTLIST mstyle accentunder NMTOKEN #IMPLIED>
<!ATTLIST mstyle align CDATA #IMPLIED>
<!ATTLIST mstyle rowalign CDATA #IMPLIED>
<!ATTLIST mstyle columnalign CDATA #IMPLIED>
<!ATTLIST mstyle groupalign CDATA #IMPLIED>
<!ATTLIST mstyle alignmentscope CDATA #IMPLIED>
<!ATTLIST mstyle rowspacing CDATA #IMPLIED>
<!ATTLIST mstyle columnspacing CDATA #IMPLIED>
<!ATTLIST mstyle rowlines CDATA #IMPLIED>
<!ATTLIST mstyle columnlines CDATA #IMPLIED>
<!ATTLIST mstyle frame NMTOKEN #IMPLIED>
<!ATTLIST mstyle framespacing CDATA #IMPLIED>
<!ATTLIST mstyle equalrows CDATA #IMPLIED>
<!ATTLIST mstyle equalcolumns CDATA #IMPLIED>
<!ATTLIST mstyle displaystyle NMTOKEN #IMPLIED>
<!ATTLIST mstyle rowspan CDATA #IMPLIED>
<!ATTLIST mstyle columnspan CDATA #IMPLIED>
<!ATTLIST mstyle edge NMTOKEN #IMPLIED>
<!ATTLIST mstyle actiontype CDATA #IMPLIED>
<!ATTLIST mstyle selection CDATA #IMPLIED>
<!ATTLIST mstyle class CDATA #IMPLIED>
<!ATTLIST mstyle style CDATA #IMPLIED>
<!ATTLIST mstyle id ID #IMPLIED>
<!ATTLIST mstyle other CDATA #IMPLIED>

<!ELEMENT maligngroup EMPTY>
<!ATTLIST maligngroup groupalign CDATA #IMPLIED>
<!ATTLIST maligngroup class CDATA #IMPLIED>
<!ATTLIST maligngroup style CDATA #IMPLIED>
<!ATTLIST maligngroup id ID #IMPLIED>
<!ATTLIST maligngroup other CDATA #IMPLIED>

<!ELEMENT interval (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST interval closure CDATA #IMPLIED>
<!ATTLIST interval class CDATA #IMPLIED>
<!ATTLIST interval style CDATA #IMPLIED>
<!ATTLIST interval id ID #IMPLIED>
<!ATTLIST interval other CDATA #IMPLIED>

<!ELEMENT neq EMPTY>
<!ATTLIST neq definitionURL CDATA #IMPLIED>
<!ATTLIST neq class CDATA #IMPLIED>
<!ATTLIST neq style CDATA #IMPLIED>
<!ATTLIST neq id ID #IMPLIED>
<!ATTLIST neq other CDATA #IMPLIED>

<!ELEMENT mspace EMPTY>
<!ATTLIST mspace width CDATA #IMPLIED>
<!ATTLIST mspace height CDATA #IMPLIED>
<!ATTLIST mspace depth CDATA #IMPLIED>
<!ATTLIST mspace class CDATA #IMPLIED>
<!ATTLIST mspace style CDATA #IMPLIED>
<!ATTLIST mspace id ID #IMPLIED>
<!ATTLIST mspace other CDATA #IMPLIED>

<!ELEMENT csc EMPTY>
<!ATTLIST csc definitionURL CDATA #IMPLIED>
<!ATTLIST csc class CDATA #IMPLIED>
<!ATTLIST csc style CDATA #IMPLIED>
<!ATTLIST csc id ID #IMPLIED>
<!ATTLIST csc other CDATA #IMPLIED>

<!ELEMENT quotient EMPTY>
<!ATTLIST quotient definitionURL CDATA #IMPLIED>
<!ATTLIST quotient class CDATA #IMPLIED>
<!ATTLIST quotient style CDATA #IMPLIED>
<!ATTLIST quotient id ID #IMPLIED>
<!ATTLIST quotient other CDATA #IMPLIED>

<!ELEMENT moment EMPTY>
<!ATTLIST moment definitionURL CDATA #IMPLIED>
<!ATTLIST moment class CDATA #IMPLIED>
<!ATTLIST moment style CDATA #IMPLIED>
<!ATTLIST moment id ID #IMPLIED>
<!ATTLIST moment other CDATA #IMPLIED>

<!ELEMENT logbase (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST logbase class CDATA #IMPLIED>
<!ATTLIST logbase style CDATA #IMPLIED>
<!ATTLIST logbase id ID #IMPLIED>
<!ATTLIST logbase other CDATA #IMPLIED>

<!ELEMENT mpadded (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mpadded width CDATA #IMPLIED>
<!ATTLIST mpadded height CDATA #IMPLIED>
<!ATTLIST mpadded depth CDATA #IMPLIED>
<!ATTLIST mpadded lspace CDATA #IMPLIED>
<!ATTLIST mpadded class CDATA #IMPLIED>
<!ATTLIST mpadded style CDATA #IMPLIED>
<!ATTLIST mpadded id ID #IMPLIED>
<!ATTLIST mpadded other CDATA #IMPLIED>

<!ELEMENT none EMPTY>
<!ATTLIST none class CDATA #IMPLIED>
<!ATTLIST none style CDATA #IMPLIED>
<!ATTLIST none id ID #IMPLIED>
<!ATTLIST none other CDATA #IMPLIED>

<!ELEMENT cn (#PCDATA | sep | mi | mn | mo | mtext | ms | mspace | mrow | mfrac | msqrt | mroot | mstyle | merror | mpadded | mphantom | mfenced | msub | msup | msubsup | munder | mover | munderover | mmultiscripts | mtable | mtr | mtd | maligngroup | malignmark | maction)*>
<!ATTLIST cn type CDATA #IMPLIED>
<!ATTLIST cn base CDATA #IMPLIED>
<!ATTLIST cn class CDATA #IMPLIED>
<!ATTLIST cn style CDATA #IMPLIED>
<!ATTLIST cn id ID #IMPLIED>
<!ATTLIST cn other CDATA #IMPLIED>

<!ELEMENT setdiff EMPTY>
<!ATTLIST setdiff definitionURL CDATA #IMPLIED>
<!ATTLIST setdiff class CDATA #IMPLIED>
<!ATTLIST setdiff style CDATA #IMPLIED>
<!ATTLIST setdiff id ID #IMPLIED>
<!ATTLIST setdiff other CDATA #IMPLIED>

<!ELEMENT matrix (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST matrix class CDATA #IMPLIED>
<!ATTLIST matrix style CDATA #IMPLIED>
<!ATTLIST matrix id ID #IMPLIED>
<!ATTLIST matrix other CDATA #IMPLIED>

<!ELEMENT csch EMPTY>
<!ATTLIST csch definitionURL CDATA #IMPLIED>
<!ATTLIST csch class CDATA #IMPLIED>
<!ATTLIST csch style CDATA #IMPLIED>
<!ATTLIST csch id ID #IMPLIED>
<!ATTLIST csch other CDATA #IMPLIED>

<!ELEMENT mroot (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mroot class CDATA #IMPLIED>
<!ATTLIST mroot style CDATA #IMPLIED>
<!ATTLIST mroot id ID #IMPLIED>
<!ATTLIST mroot other CDATA #IMPLIED>

<!ELEMENT mean EMPTY>
<!ATTLIST mean definitionURL CDATA #IMPLIED>
<!ATTLIST mean class CDATA #IMPLIED>
<!ATTLIST mean style CDATA #IMPLIED>
<!ATTLIST mean id ID #IMPLIED>
<!ATTLIST mean other CDATA #IMPLIED>

<!ELEMENT ci (#PCDATA | mi | mn | mo | mtext | ms | mspace | mrow | mfrac | msqrt | mroot | mstyle | merror | mpadded | mphantom | mfenced | msub | msup | msubsup | munder | mover | munderover | mmultiscripts | mtable | mtr | mtd | maligngroup | malignmark | maction)*>
<!ATTLIST ci type CDATA #IMPLIED>
<!ATTLIST ci class CDATA #IMPLIED>
<!ATTLIST ci style CDATA #IMPLIED>
<!ATTLIST ci id ID #IMPLIED>
<!ATTLIST ci other CDATA #IMPLIED>

<!ELEMENT rem EMPTY>
<!ATTLIST rem definitionURL CDATA #IMPLIED>
<!ATTLIST rem class CDATA #IMPLIED>
<!ATTLIST rem style CDATA #IMPLIED>
<!ATTLIST rem id ID #IMPLIED>
<!ATTLIST rem other CDATA #IMPLIED>

<!ELEMENT arctan EMPTY>
<!ATTLIST arctan definitionURL CDATA #IMPLIED>
<!ATTLIST arctan class CDATA #IMPLIED>
<!ATTLIST arctan style CDATA #IMPLIED>
<!ATTLIST arctan id ID #IMPLIED>
<!ATTLIST arctan other CDATA #IMPLIED>

<!ELEMENT list (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST list order CDATA #IMPLIED>
<!ATTLIST list class CDATA #IMPLIED>
<!ATTLIST list style CDATA #IMPLIED>
<!ATTLIST list id ID #IMPLIED>
<!ATTLIST list other CDATA #IMPLIED>

<!ELEMENT compose EMPTY>
<!ATTLIST compose definitionURL CDATA #IMPLIED>
<!ATTLIST compose class CDATA #IMPLIED>
<!ATTLIST compose style CDATA #IMPLIED>
<!ATTLIST compose id ID #IMPLIED>
<!ATTLIST compose other CDATA #IMPLIED>

<!ELEMENT xor EMPTY>
<!ATTLIST xor definitionURL CDATA #IMPLIED>
<!ATTLIST xor class CDATA #IMPLIED>
<!ATTLIST xor style CDATA #IMPLIED>
<!ATTLIST xor id ID #IMPLIED>
<!ATTLIST xor other CDATA #IMPLIED>

<!ELEMENT mfrac (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mfrac linethickness CDATA #IMPLIED>
<!ATTLIST mfrac class CDATA #IMPLIED>
<!ATTLIST mfrac style CDATA #IMPLIED>
<!ATTLIST mfrac id ID #IMPLIED>
<!ATTLIST mfrac other CDATA #IMPLIED>

<!ELEMENT geq EMPTY>
<!ATTLIST geq definitionURL CDATA #IMPLIED>
<!ATTLIST geq class CDATA #IMPLIED>
<!ATTLIST geq style CDATA #IMPLIED>
<!ATTLIST geq id ID #IMPLIED>
<!ATTLIST geq other CDATA #IMPLIED>

<!ELEMENT min EMPTY>
<!ATTLIST min definitionURL CDATA #IMPLIED>
<!ATTLIST min class CDATA #IMPLIED>
<!ATTLIST min style CDATA #IMPLIED>
<!ATTLIST min id ID #IMPLIED>
<!ATTLIST min other CDATA #IMPLIED>

<!ELEMENT in EMPTY>
<!ATTLIST in definitionURL CDATA #IMPLIED>
<!ATTLIST in class CDATA #IMPLIED>
<!ATTLIST in style CDATA #IMPLIED>
<!ATTLIST in id ID #IMPLIED>
<!ATTLIST in other CDATA #IMPLIED>

<!ELEMENT math (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST math class CDATA #IMPLIED>
<!ATTLIST math style CDATA #IMPLIED>
<!ATTLIST math id ID #IMPLIED>
<!ATTLIST math other CDATA #IMPLIED>
<!ATTLIST math macros CDATA #IMPLIED>
<!ATTLIST math mode CDATA #IMPLIED>
<!ATTLIST math type CDATA #IMPLIED>
<!ATTLIST math name CDATA #IMPLIED>
<!ATTLIST math height CDATA #IMPLIED>
<!ATTLIST math width CDATA #IMPLIED>
<!ATTLIST math baseline CDATA #IMPLIED>
<!ATTLIST math overflow NMTOKEN #IMPLIED>
<!ATTLIST math altimg CDATA #IMPLIED>
<!ATTLIST math alttext CDATA #IMPLIED>

<!ELEMENT lowlimit (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST lowlimit class CDATA #IMPLIED>
<!ATTLIST lowlimit style CDATA #IMPLIED>
<!ATTLIST lowlimit id ID #IMPLIED>
<!ATTLIST lowlimit other CDATA #IMPLIED>

<!ELEMENT mphantom (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mphantom class CDATA #IMPLIED>
<!ATTLIST mphantom style CDATA #IMPLIED>
<!ATTLIST mphantom id ID #IMPLIED>
<!ATTLIST mphantom other CDATA #IMPLIED>

<!ELEMENT factorial EMPTY>
<!ATTLIST factorial definitionURL CDATA #IMPLIED>
<!ATTLIST factorial class CDATA #IMPLIED>
<!ATTLIST factorial style CDATA #IMPLIED>
<!ATTLIST factorial id ID #IMPLIED>
<!ATTLIST factorial other CDATA #IMPLIED>

<!ELEMENT conjugate EMPTY>
<!ATTLIST conjugate definitionURL CDATA #IMPLIED>
<!ATTLIST conjugate class CDATA #IMPLIED>
<!ATTLIST conjugate style CDATA #IMPLIED>
<!ATTLIST conjugate id ID #IMPLIED>
<!ATTLIST conjugate other CDATA #IMPLIED>

<!ELEMENT diff EMPTY>
<!ATTLIST diff definitionURL CDATA #IMPLIED>
<!ATTLIST diff class CDATA #IMPLIED>
<!ATTLIST diff style CDATA #IMPLIED>
<!ATTLIST diff id ID #IMPLIED>
<!ATTLIST diff other CDATA #IMPLIED>

<!ELEMENT munder (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST munder accentunder NMTOKEN #IMPLIED>
<!ATTLIST munder class CDATA #IMPLIED>
<!ATTLIST munder style CDATA #IMPLIED>
<!ATTLIST munder id ID #IMPLIED>
<!ATTLIST munder other CDATA #IMPLIED>

<!ELEMENT or EMPTY>
<!ATTLIST or definitionURL CDATA #IMPLIED>
<!ATTLIST or class CDATA #IMPLIED>
<!ATTLIST or style CDATA #IMPLIED>
<!ATTLIST or id ID #IMPLIED>
<!ATTLIST or other CDATA #IMPLIED>

<!ELEMENT merror (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST merror class CDATA #IMPLIED>
<!ATTLIST merror style CDATA #IMPLIED>
<!ATTLIST merror id ID #IMPLIED>
<!ATTLIST merror other CDATA #IMPLIED>

<!ELEMENT tan EMPTY>
<!ATTLIST tan definitionURL CDATA #IMPLIED>
<!ATTLIST tan class CDATA #IMPLIED>
<!ATTLIST tan style CDATA #IMPLIED>
<!ATTLIST tan id ID #IMPLIED>
<!ATTLIST tan other CDATA #IMPLIED>

<!ELEMENT and EMPTY>
<!ATTLIST and definitionURL CDATA #IMPLIED>
<!ATTLIST and class CDATA #IMPLIED>
<!ATTLIST and style CDATA #IMPLIED>
<!ATTLIST and id ID #IMPLIED>
<!ATTLIST and other CDATA #IMPLIED>

<!ELEMENT notin EMPTY>
<!ATTLIST notin definitionURL CDATA #IMPLIED>
<!ATTLIST notin class CDATA #IMPLIED>
<!ATTLIST notin style CDATA #IMPLIED>
<!ATTLIST notin id ID #IMPLIED>
<!ATTLIST notin other CDATA #IMPLIED>

<!ELEMENT lambda (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST lambda class CDATA #IMPLIED>
<!ATTLIST lambda style CDATA #IMPLIED>
<!ATTLIST lambda id ID #IMPLIED>
<!ATTLIST lambda other CDATA #IMPLIED>

<!ELEMENT int EMPTY>
<!ATTLIST int definitionURL CDATA #IMPLIED>
<!ATTLIST int class CDATA #IMPLIED>
<!ATTLIST int style CDATA #IMPLIED>
<!ATTLIST int id ID #IMPLIED>
<!ATTLIST int other CDATA #IMPLIED>

<!ELEMENT sech EMPTY>
<!ATTLIST sech definitionURL CDATA #IMPLIED>
<!ATTLIST sech class CDATA #IMPLIED>
<!ATTLIST sech style CDATA #IMPLIED>
<!ATTLIST sech id ID #IMPLIED>
<!ATTLIST sech other CDATA #IMPLIED>

<!ELEMENT times EMPTY>
<!ATTLIST times definitionURL CDATA #IMPLIED>
<!ATTLIST times class CDATA #IMPLIED>
<!ATTLIST times style CDATA #IMPLIED>
<!ATTLIST times id ID #IMPLIED>
<!ATTLIST times other CDATA #IMPLIED>

<!ELEMENT max EMPTY>
<!ATTLIST max definitionURL CDATA #IMPLIED>
<!ATTLIST max class CDATA #IMPLIED>
<!ATTLIST max style CDATA #IMPLIED>
<!ATTLIST max id ID #IMPLIED>
<!ATTLIST max other CDATA #IMPLIED>

<!ELEMENT set (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST set class CDATA #IMPLIED>
<!ATTLIST set style CDATA #IMPLIED>
<!ATTLIST set id ID #IMPLIED>
<!ATTLIST set other CDATA #IMPLIED>

<!ELEMENT product EMPTY>
<!ATTLIST product definitionURL CDATA #IMPLIED>
<!ATTLIST product class CDATA #IMPLIED>
<!ATTLIST product style CDATA #IMPLIED>
<!ATTLIST product id ID #IMPLIED>
<!ATTLIST product other CDATA #IMPLIED>

<!ELEMENT mode EMPTY>
<!ATTLIST mode definitionURL CDATA #IMPLIED>
<!ATTLIST mode class CDATA #IMPLIED>
<!ATTLIST mode style CDATA #IMPLIED>
<!ATTLIST mode id ID #IMPLIED>
<!ATTLIST mode other CDATA #IMPLIED>

<!ELEMENT sep EMPTY>
<!ATTLIST sep class CDATA #IMPLIED>
<!ATTLIST sep style CDATA #IMPLIED>
<!ATTLIST sep id ID #IMPLIED>
<!ATTLIST sep other CDATA #IMPLIED>

<!ELEMENT mrow (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mrow class CDATA #IMPLIED>
<!ATTLIST mrow style CDATA #IMPLIED>
<!ATTLIST mrow id ID #IMPLIED>
<!ATTLIST mrow other CDATA #IMPLIED>

<!ELEMENT vector (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST vector class CDATA #IMPLIED>
<!ATTLIST vector style CDATA #IMPLIED>
<!ATTLIST vector id ID #IMPLIED>
<!ATTLIST vector other CDATA #IMPLIED>

<!ELEMENT msqrt (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST msqrt class CDATA #IMPLIED>
<!ATTLIST msqrt style CDATA #IMPLIED>
<!ATTLIST msqrt id ID #IMPLIED>
<!ATTLIST msqrt other CDATA #IMPLIED>

<!ELEMENT sec EMPTY>
<!ATTLIST sec definitionURL CDATA #IMPLIED>
<!ATTLIST sec class CDATA #IMPLIED>
<!ATTLIST sec style CDATA #IMPLIED>
<!ATTLIST sec id ID #IMPLIED>
<!ATTLIST sec other CDATA #IMPLIED>

<!ELEMENT arccos EMPTY>
<!ATTLIST arccos definitionURL CDATA #IMPLIED>
<!ATTLIST arccos class CDATA #IMPLIED>
<!ATTLIST arccos style CDATA #IMPLIED>
<!ATTLIST arccos id ID #IMPLIED>
<!ATTLIST arccos other CDATA #IMPLIED>

<!ELEMENT condition (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST condition class CDATA #IMPLIED>
<!ATTLIST condition style CDATA #IMPLIED>
<!ATTLIST condition id ID #IMPLIED>
<!ATTLIST condition other CDATA #IMPLIED>

<!ELEMENT coth EMPTY>
<!ATTLIST coth definitionURL CDATA #IMPLIED>
<!ATTLIST coth class CDATA #IMPLIED>
<!ATTLIST coth style CDATA #IMPLIED>
<!ATTLIST coth id ID #IMPLIED>
<!ATTLIST coth other CDATA #IMPLIED>

<!ELEMENT matrixrow (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST matrixrow class CDATA #IMPLIED>
<!ATTLIST matrixrow style CDATA #IMPLIED>
<!ATTLIST matrixrow id ID #IMPLIED>
<!ATTLIST matrixrow other CDATA #IMPLIED>

<!ELEMENT gt EMPTY>
<!ATTLIST gt definitionURL CDATA #IMPLIED>
<!ATTLIST gt class CDATA #IMPLIED>
<!ATTLIST gt style CDATA #IMPLIED>
<!ATTLIST gt id ID #IMPLIED>
<!ATTLIST gt other CDATA #IMPLIED>

<!ELEMENT subset EMPTY>
<!ATTLIST subset definitionURL CDATA #IMPLIED>
<!ATTLIST subset class CDATA #IMPLIED>
<!ATTLIST subset style CDATA #IMPLIED>
<!ATTLIST subset id ID #IMPLIED>
<!ATTLIST subset other CDATA #IMPLIED>

<!ELEMENT mtr (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mtr rowalign CDATA #IMPLIED>
<!ATTLIST mtr columnalign CDATA #IMPLIED>
<!ATTLIST mtr groupalign CDATA #IMPLIED>
<!ATTLIST mtr class CDATA #IMPLIED>
<!ATTLIST mtr style CDATA #IMPLIED>
<!ATTLIST mtr id ID #IMPLIED>
<!ATTLIST mtr other CDATA #IMPLIED>

<!ELEMENT not EMPTY>
<!ATTLIST not definitionURL CDATA #IMPLIED>
<!ATTLIST not class CDATA #IMPLIED>
<!ATTLIST not style CDATA #IMPLIED>
<!ATTLIST not id ID #IMPLIED>
<!ATTLIST not other CDATA #IMPLIED>

<!ELEMENT leq EMPTY>
<!ATTLIST leq definitionURL CDATA #IMPLIED>
<!ATTLIST leq class CDATA #IMPLIED>
<!ATTLIST leq style CDATA #IMPLIED>
<!ATTLIST leq id ID #IMPLIED>
<!ATTLIST leq other CDATA #IMPLIED>

<!ELEMENT partialdiff EMPTY>
<!ATTLIST partialdiff definitionURL CDATA #IMPLIED>
<!ATTLIST partialdiff class CDATA #IMPLIED>
<!ATTLIST partialdiff style CDATA #IMPLIED>
<!ATTLIST partialdiff id ID #IMPLIED>
<!ATTLIST partialdiff other CDATA #IMPLIED>

<!ELEMENT notsubset EMPTY>
<!ATTLIST notsubset definitionURL CDATA #IMPLIED>
<!ATTLIST notsubset class CDATA #IMPLIED>
<!ATTLIST notsubset style CDATA #IMPLIED>
<!ATTLIST notsubset id ID #IMPLIED>
<!ATTLIST notsubset other CDATA #IMPLIED>

<!ELEMENT gcd EMPTY>
<!ATTLIST gcd definitionURL CDATA #IMPLIED>
<!ATTLIST gcd class CDATA #IMPLIED>
<!ATTLIST gcd style CDATA #IMPLIED>
<!ATTLIST gcd id ID #IMPLIED>
<!ATTLIST gcd other CDATA #IMPLIED>

<!ELEMENT ms (#PCDATA | malignmark)*>
<!ATTLIST ms fontsize CDATA #IMPLIED>
<!ATTLIST ms fontweight NMTOKEN #IMPLIED>
<!ATTLIST ms fontstyle NMTOKEN #IMPLIED>
<!ATTLIST ms fontfamily CDATA #IMPLIED>
<!ATTLIST ms color CDATA #IMPLIED>
<!ATTLIST ms lquote CDATA #IMPLIED>
<!ATTLIST ms rquote CDATA #IMPLIED>
<!ATTLIST ms class CDATA #IMPLIED>
<!ATTLIST ms style CDATA #IMPLIED>
<!ATTLIST ms id ID #IMPLIED>
<!ATTLIST ms other CDATA #IMPLIED>

<!ELEMENT mtd (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mtd rowalign CDATA #IMPLIED>
<!ATTLIST mtd columnalign CDATA #IMPLIED>
<!ATTLIST mtd groupalign CDATA #IMPLIED>
<!ATTLIST mtd rowspan CDATA #IMPLIED>
<!ATTLIST mtd columnspan CDATA #IMPLIED>
<!ATTLIST mtd class CDATA #IMPLIED>
<!ATTLIST mtd style CDATA #IMPLIED>
<!ATTLIST mtd id ID #IMPLIED>
<!ATTLIST mtd other CDATA #IMPLIED>

<!ELEMENT maction (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST maction actiontype CDATA #IMPLIED>
<!ATTLIST maction selection CDATA #IMPLIED>
<!ATTLIST maction class CDATA #IMPLIED>
<!ATTLIST maction style CDATA #IMPLIED>
<!ATTLIST maction id ID #IMPLIED>
<!ATTLIST maction other CDATA #IMPLIED>

<!ELEMENT semantics (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST semantics definitionURL CDATA #IMPLIED>
<!ATTLIST semantics class CDATA #IMPLIED>
<!ATTLIST semantics style CDATA #IMPLIED>
<!ATTLIST semantics id ID #IMPLIED>
<!ATTLIST semantics other CDATA #IMPLIED>

<!ELEMENT annotation-xml (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST annotation-xml encoding CDATA #IMPLIED>
<!ATTLIST annotation-xml class CDATA #IMPLIED>
<!ATTLIST annotation-xml style CDATA #IMPLIED>
<!ATTLIST annotation-xml id ID #IMPLIED>
<!ATTLIST annotation-xml other CDATA #IMPLIED>

<!ELEMENT annotation (#PCDATA)>
<!ATTLIST annotation encoding CDATA #IMPLIED>
<!ATTLIST annotation class CDATA #IMPLIED>
<!ATTLIST annotation style CDATA #IMPLIED>
<!ATTLIST annotation id ID #IMPLIED>
<!ATTLIST annotation other CDATA #IMPLIED>

<!ELEMENT mtext (#PCDATA | malignmark)*>
<!ATTLIST mtext fontsize CDATA #IMPLIED>
<!ATTLIST mtext fontweight NMTOKEN #IMPLIED>
<!ATTLIST mtext fontstyle NMTOKEN #IMPLIED>
<!ATTLIST mtext fontfamily CDATA #IMPLIED>
<!ATTLIST mtext color CDATA #IMPLIED>
<!ATTLIST mtext class CDATA #IMPLIED>
<!ATTLIST mtext style CDATA #IMPLIED>
<!ATTLIST mtext id ID #IMPLIED>
<!ATTLIST mtext other CDATA #IMPLIED>

<!ELEMENT mo (#PCDATA | malignmark)*>
<!ATTLIST mo fontsize CDATA #IMPLIED>
<!ATTLIST mo fontweight NMTOKEN #IMPLIED>
<!ATTLIST mo fontstyle NMTOKEN #IMPLIED>
<!ATTLIST mo fontfamily CDATA #IMPLIED>
<!ATTLIST mo color CDATA #IMPLIED>
<!ATTLIST mo form NMTOKEN #IMPLIED>
<!ATTLIST mo fence NMTOKEN #IMPLIED>
<!ATTLIST mo separator NMTOKEN #IMPLIED>
<!ATTLIST mo lspace CDATA #IMPLIED>
<!ATTLIST mo rspace CDATA #IMPLIED>
<!ATTLIST mo stretchy NMTOKEN #IMPLIED>
<!ATTLIST mo symmetric NMTOKEN #IMPLIED>
<!ATTLIST mo maxsize CDATA #IMPLIED>
<!ATTLIST mo minsize CDATA #IMPLIED>
<!ATTLIST mo largeop NMTOKEN #IMPLIED>
<!ATTLIST mo movablelimits NMTOKEN #IMPLIED>
<!ATTLIST mo accent NMTOKEN #IMPLIED>
<!ATTLIST mo class CDATA #IMPLIED>
<!ATTLIST mo style CDATA #IMPLIED>
<!ATTLIST mo id ID #IMPLIED>
<!ATTLIST mo other CDATA #IMPLIED>

<!ELEMENT cot EMPTY>
<!ATTLIST cot definitionURL CDATA #IMPLIED>
<!ATTLIST cot class CDATA #IMPLIED>
<!ATTLIST cot style CDATA #IMPLIED>
<!ATTLIST cot id ID #IMPLIED>
<!ATTLIST cot other CDATA #IMPLIED>

<!ELEMENT mn (#PCDATA | malignmark)*>
<!ATTLIST mn fontsize CDATA #IMPLIED>
<!ATTLIST mn fontweight NMTOKEN #IMPLIED>
<!ATTLIST mn fontstyle NMTOKEN #IMPLIED>
<!ATTLIST mn fontfamily CDATA #IMPLIED>
<!ATTLIST mn color CDATA #IMPLIED>
<!ATTLIST mn class CDATA #IMPLIED>
<!ATTLIST mn style CDATA #IMPLIED>
<!ATTLIST mn id ID #IMPLIED>
<!ATTLIST mn other CDATA #IMPLIED>

<!ELEMENT cos EMPTY>
<!ATTLIST cos definitionURL CDATA #IMPLIED>
<!ATTLIST cos class CDATA #IMPLIED>
<!ATTLIST cos style CDATA #IMPLIED>
<!ATTLIST cos id ID #IMPLIED>
<!ATTLIST cos other CDATA #IMPLIED>

<!ELEMENT median EMPTY>
<!ATTLIST median definitionURL CDATA #IMPLIED>
<!ATTLIST median class CDATA #IMPLIED>
<!ATTLIST median style CDATA #IMPLIED>
<!ATTLIST median id ID #IMPLIED>
<!ATTLIST median other CDATA #IMPLIED>

<!ELEMENT mi (#PCDATA | malignmark)*>
<!ATTLIST mi fontsize CDATA #IMPLIED>
<!ATTLIST mi fontweight NMTOKEN #IMPLIED>
<!ATTLIST mi fontstyle NMTOKEN #IMPLIED>
<!ATTLIST mi fontfamily CDATA #IMPLIED>
<!ATTLIST mi color CDATA #IMPLIED>
<!ATTLIST mi class CDATA #IMPLIED>
<!ATTLIST mi style CDATA #IMPLIED>
<!ATTLIST mi id ID #IMPLIED>
<!ATTLIST mi other CDATA #IMPLIED>

<!ELEMENT cosh EMPTY>
<!ATTLIST cosh definitionURL CDATA #IMPLIED>
<!ATTLIST cosh class CDATA #IMPLIED>
<!ATTLIST cosh style CDATA #IMPLIED>
<!ATTLIST cosh id ID #IMPLIED>
<!ATTLIST cosh other CDATA #IMPLIED>

<!ELEMENT ident EMPTY>
<!ATTLIST ident definitionURL CDATA #IMPLIED>
<!ATTLIST ident class CDATA #IMPLIED>
<!ATTLIST ident style CDATA #IMPLIED>
<!ATTLIST ident id ID #IMPLIED>
<!ATTLIST ident other CDATA #IMPLIED>

<!ELEMENT tendsto EMPTY>
<!ATTLIST tendsto definitionURL CDATA #IMPLIED>
<!ATTLIST tendsto type CDATA #IMPLIED>
<!ATTLIST tendsto class CDATA #IMPLIED>
<!ATTLIST tendsto style CDATA #IMPLIED>
<!ATTLIST tendsto id ID #IMPLIED>
<!ATTLIST tendsto other CDATA #IMPLIED>

<!ELEMENT arcsin EMPTY>
<!ATTLIST arcsin definitionURL CDATA #IMPLIED>
<!ATTLIST arcsin class CDATA #IMPLIED>
<!ATTLIST arcsin style CDATA #IMPLIED>
<!ATTLIST arcsin id ID #IMPLIED>
<!ATTLIST arcsin other CDATA #IMPLIED>

<!ELEMENT implies EMPTY>
<!ATTLIST implies definitionURL CDATA #IMPLIED>
<!ATTLIST implies class CDATA #IMPLIED>
<!ATTLIST implies style CDATA #IMPLIED>
<!ATTLIST implies id ID #IMPLIED>
<!ATTLIST implies other CDATA #IMPLIED>

<!ELEMENT limit EMPTY>
<!ATTLIST limit definitionURL CDATA #IMPLIED>
<!ATTLIST limit class CDATA #IMPLIED>
<!ATTLIST limit style CDATA #IMPLIED>
<!ATTLIST limit id ID #IMPLIED>
<!ATTLIST limit other CDATA #IMPLIED>

<!ELEMENT union EMPTY>
<!ATTLIST union definitionURL CDATA #IMPLIED>
<!ATTLIST union class CDATA #IMPLIED>
<!ATTLIST union style CDATA #IMPLIED>
<!ATTLIST union id ID #IMPLIED>
<!ATTLIST union other CDATA #IMPLIED>

<!ELEMENT plus EMPTY>
<!ATTLIST plus definitionURL CDATA #IMPLIED>
<!ATTLIST plus class CDATA #IMPLIED>
<!ATTLIST plus style CDATA #IMPLIED>
<!ATTLIST plus id ID #IMPLIED>
<!ATTLIST plus other CDATA #IMPLIED>

<!ELEMENT fn (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST fn definitionURL CDATA #IMPLIED>
<!ATTLIST fn class CDATA #IMPLIED>
<!ATTLIST fn style CDATA #IMPLIED>
<!ATTLIST fn id ID #IMPLIED>
<!ATTLIST fn other CDATA #IMPLIED>

<!ELEMENT reln (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST reln class CDATA #IMPLIED>
<!ATTLIST reln style CDATA #IMPLIED>
<!ATTLIST reln id ID #IMPLIED>
<!ATTLIST reln other CDATA #IMPLIED>

<!ELEMENT sdev EMPTY>
<!ATTLIST sdev definitionURL CDATA #IMPLIED>
<!ATTLIST sdev class CDATA #IMPLIED>
<!ATTLIST sdev style CDATA #IMPLIED>
<!ATTLIST sdev id ID #IMPLIED>
<!ATTLIST sdev other CDATA #IMPLIED>

<!ELEMENT forall EMPTY>
<!ATTLIST forall definitionURL CDATA #IMPLIED>
<!ATTLIST forall class CDATA #IMPLIED>
<!ATTLIST forall style CDATA #IMPLIED>
<!ATTLIST forall id ID #IMPLIED>
<!ATTLIST forall other CDATA #IMPLIED>

<!ELEMENT apply (mover | determinant | notprsubset | sin | msup | eq | mfenced | tanh | root | divide | msub | degree | mtable | msubsup | intersect | bvar | malignmark | power | sum | declare | variance | exists | prsubset | uplimit | abs | log | maligngroup | mstyle | interval | mspace | neq | csc | quotient | moment | logbase | mpadded | setdiff | cn | matrix | csch | mroot | mean | ci | arctan | rem | list | compose | xor | mfrac | geq | min | in | lowlimit | mphantom | factorial | conjugate | diff | munder | or | merror | tan | and | notin | lambda | sech | int | times | max | set | product | mode | sep | mrow | vector | msqrt | sec | arccos | condition | coth | matrixrow | gt | subset | mtr | not | leq | partialdiff | notsubset | mtd | ms | gcd | maction | annotation-xml | semantics | mtext | mo | annotation | mn | cot | median | cos | mi | cosh | ident | tendsto | arcsin | implies | limit | plus | union | fn | reln | sdev | forall | apply | lt | sinh | transpose | minus | ln | munderover | mmultiscripts | selector | inverse | exp)*>
<!ATTLIST apply class CDATA #IMPLIED>
<!ATTLIST apply style CDATA #IMPLIED>
<!ATTLIST apply id ID #IMPLIED>
<!ATTLIST apply other CDATA #IMPLIED>

<!ELEMENT lt EMPTY>
<!ATTLIST lt definitionURL CDATA #IMPLIED>
<!ATTLIST lt class CDATA #IMPLIED>
<!ATTLIST lt style CDATA #IMPLIED>
<!ATTLIST lt id ID #IMPLIED>
<!ATTLIST lt other CDATA #IMPLIED>

<!ELEMENT transpose EMPTY>
<!ATTLIST transpose definitionURL CDATA #IMPLIED>
<!ATTLIST transpose class CDATA #IMPLIED>
<!ATTLIST transpose style CDATA #IMPLIED>
<!ATTLIST transpose id ID #IMPLIED>
<!ATTLIST transpose other CDATA #IMPLIED>

<!ELEMENT sinh EMPTY>
<!ATTLIST sinh definitionURL CDATA #IMPLIED>
<!ATTLIST sinh class CDATA #IMPLIED>
<!ATTLIST sinh style CDATA #IMPLIED>
<!ATTLIST sinh id ID #IMPLIED>
<!ATTLIST sinh other CDATA #IMPLIED>

<!ELEMENT minus EMPTY>
<!ATTLIST minus definitionURL CDATA #IMPLIED>
<!ATTLIST minus class CDATA #IMPLIED>
<!ATTLIST minus style CDATA #IMPLIED>
<!ATTLIST minus id ID #IMPLIED>
<!ATTLIST minus other CDATA #IMPLIED>

<!ELEMENT ln EMPTY>
<!ATTLIST ln definitionURL CDATA #IMPLIED>
<!ATTLIST ln class CDATA #IMPLIED>
<!ATTLIST ln style CDATA #IMPLIED>
<!ATTLIST ln id ID #IMPLIED>
<!ATTLIST ln other CDATA #IMPLIED>

<!ELEMENT munderover (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST munderover accent NMTOKEN #IMPLIED>
<!ATTLIST munderover accentunder NMTOKEN #IMPLIED>
<!ATTLIST munderover class CDATA #IMPLIED>
<!ATTLIST munderover style CDATA #IMPLIED>
<!ATTLIST munderover id ID #IMPLIED>
<!ATTLIST munderover other CDATA #IMPLIED>

<!ELEMENT mmultiscripts (lambda | msqrt | msup | mspace | mtr | mmultiscripts | mstyle | munder | msub | reln | mtd | mprescripts | interval | mover | vector | msubsup | mrow | semantics | matrix | malignmark | ms | mfrac | merror | mtext | mpadded | none | mo | mn | mtable | mi | apply | cn | munderover | ci | fn | set | matrixrow | mfenced | maligngroup | list | mphantom | maction | mroot)*>
<!ATTLIST mmultiscripts subscriptshift CDATA #IMPLIED>
<!ATTLIST mmultiscripts superscriptshift CDATA #IMPLIED>
<!ATTLIST mmultiscripts class CDATA #IMPLIED>
<!ATTLIST mmultiscripts style CDATA #IMPLIED>
<!ATTLIST mmultiscripts id ID #IMPLIED>
<!ATTLIST mmultiscripts other CDATA #IMPLIED>

<!ELEMENT selector EMPTY>
<!ATTLIST selector definitionURL CDATA #IMPLIED>
<!ATTLIST selector class CDATA #IMPLIED>
<!ATTLIST selector style CDATA #IMPLIED>
<!ATTLIST selector id ID #IMPLIED>
<!ATTLIST selector other CDATA #IMPLIED>

<!ELEMENT inverse EMPTY>
<!ATTLIST inverse definitionURL CDATA #IMPLIED>
<!ATTLIST inverse class CDATA #IMPLIED>
<!ATTLIST inverse style CDATA #IMPLIED>
<!ATTLIST inverse id ID #IMPLIED>
<!ATTLIST inverse other CDATA #IMPLIED>

<!ELEMENT exp EMPTY>
<!ATTLIST exp definitionURL CDATA #IMPLIED>
<!ATTLIST exp class CDATA #IMPLIED>
<!ATTLIST exp style CDATA #IMPLIED>
<!ATTLIST exp id ID #IMPLIED>
<!ATTLIST exp other CDATA #IMPLIED>
