src/main/java/org/xmlsmartdoc/SmartDoc/pure/lib/PureSmartDoc.dtd

<!-- Generated by Relaxer 0.11b -->
<!-- Sun Sep 24 23:25:29 JST 2000 -->

<!ELEMENT ul (ul | li)*>
<!ATTLIST ul id ID #IMPLIED>
<!ATTLIST ul class NMTOKEN #IMPLIED>
<!ATTLIST ul style CDATA #IMPLIED>

<!ELEMENT tnote EMPTY>
<!ATTLIST tnote id ID #IMPLIED>
<!ATTLIST tnote class NMTOKEN #IMPLIED>
<!ATTLIST tnote style CDATA #IMPLIED>

<!ELEMENT span (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST span id ID #IMPLIED>
<!ATTLIST span class NMTOKEN #IMPLIED>
<!ATTLIST span style CDATA #IMPLIED>

<!ELEMENT b (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST b id ID #IMPLIED>
<!ATTLIST b class NMTOKEN #IMPLIED>
<!ATTLIST b style CDATA #IMPLIED>

<!ELEMENT subsubsection (title, ((tnote | ul | tfoot | rowgroup | div | colgroup | dt | figure | dl | tbody | tr | fyi | dd | pre | console | th | td | table | program | blockquote | thead | li | ol | col) | (b | span | a | code | dfn | abbr | tt | cite | comment | img | note | sen | acronym | q | p | em | i))*)>
<!ATTLIST subsubsection id ID #IMPLIED>
<!ATTLIST subsubsection class NMTOKEN #IMPLIED>
<!ATTLIST subsubsection style CDATA #IMPLIED>

<!ELEMENT a (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST a id ID #IMPLIED>
<!ATTLIST a class NMTOKEN #IMPLIED>
<!ATTLIST a style CDATA #IMPLIED>

<!ELEMENT code (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST code id ID #IMPLIED>
<!ATTLIST code class NMTOKEN #IMPLIED>
<!ATTLIST code style CDATA #IMPLIED>

<!ELEMENT tfoot (tr*)>
<!ATTLIST tfoot id ID #IMPLIED>
<!ATTLIST tfoot class NMTOKEN #IMPLIED>
<!ATTLIST tfoot style CDATA #IMPLIED>

<!ELEMENT rowgroup (#PCDATA)>
<!ATTLIST rowgroup id ID #IMPLIED>
<!ATTLIST rowgroup class NMTOKEN #IMPLIED>
<!ATTLIST rowgroup style CDATA #IMPLIED>

<!ELEMENT div (#PCDATA | fyi | figure | ul | ol | li | dl | dt | dd | table | rowgroup | colgroup | col | thead | tfoot | tbody | tr | th | td | tnote | pre | program | console | div | blockquote | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST div id ID #IMPLIED>
<!ATTLIST div class NMTOKEN #IMPLIED>
<!ATTLIST div style CDATA #IMPLIED>

<!ELEMENT dfn (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST dfn id ID #IMPLIED>
<!ATTLIST dfn class NMTOKEN #IMPLIED>
<!ATTLIST dfn style CDATA #IMPLIED>

<!ELEMENT colgroup (col*)>
<!ATTLIST colgroup id ID #IMPLIED>
<!ATTLIST colgroup class NMTOKEN #IMPLIED>
<!ATTLIST colgroup style CDATA #IMPLIED>

<!ELEMENT dt (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST dt id ID #IMPLIED>
<!ATTLIST dt class NMTOKEN #IMPLIED>
<!ATTLIST dt style CDATA #IMPLIED>

<!ELEMENT figure EMPTY>
<!ATTLIST figure id ID #IMPLIED>
<!ATTLIST figure class NMTOKEN #IMPLIED>
<!ATTLIST figure style CDATA #IMPLIED>

<!ELEMENT abbr (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST abbr id ID #IMPLIED>
<!ATTLIST abbr class NMTOKEN #IMPLIED>
<!ATTLIST abbr style CDATA #IMPLIED>

<!ELEMENT dl ((dt, dd)*)>
<!ATTLIST dl id ID #IMPLIED>
<!ATTLIST dl class NMTOKEN #IMPLIED>
<!ATTLIST dl style CDATA #IMPLIED>

<!ELEMENT tt (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST tt id ID #IMPLIED>
<!ATTLIST tt class NMTOKEN #IMPLIED>
<!ATTLIST tt style CDATA #IMPLIED>

<!ELEMENT cite (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST cite id ID #IMPLIED>
<!ATTLIST cite class NMTOKEN #IMPLIED>
<!ATTLIST cite style CDATA #IMPLIED>

<!ELEMENT tbody (tr*)>
<!ATTLIST tbody id ID #IMPLIED>
<!ATTLIST tbody class NMTOKEN #IMPLIED>
<!ATTLIST tbody style CDATA #IMPLIED>

<!ELEMENT appendix (title, ((tnote | ul | tfoot | rowgroup | div | colgroup | dt | figure | dl | tbody | tr | fyi | dd | pre | console | th | td | table | program | blockquote | thead | li | ol | col) | (b | span | a | code | dfn | abbr | tt | cite | comment | img | note | sen | acronym | q | p | em | i))*)>
<!ATTLIST appendix id ID #IMPLIED>
<!ATTLIST appendix class NMTOKEN #IMPLIED>
<!ATTLIST appendix style CDATA #IMPLIED>

<!ELEMENT tr (th | td)*>
<!ATTLIST tr id ID #IMPLIED>
<!ATTLIST tr class NMTOKEN #IMPLIED>
<!ATTLIST tr style CDATA #IMPLIED>

<!ELEMENT comment (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST comment id ID #IMPLIED>
<!ATTLIST comment class NMTOKEN #IMPLIED>
<!ATTLIST comment style CDATA #IMPLIED>

<!ELEMENT fyi (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q | fyi | figure | ul | ol | li | dl | dt | dd | table | rowgroup | colgroup | col | thead | tfoot | tbody | tr | th | td | tnote | pre | program | console | div | blockquote)*>
<!ATTLIST fyi id ID #IMPLIED>
<!ATTLIST fyi class NMTOKEN #IMPLIED>
<!ATTLIST fyi style CDATA #IMPLIED>

<!ELEMENT chapter (title, (section | (tnote | ul | tfoot | rowgroup | div | colgroup | dt | figure | dl | tbody | tr | fyi | dd | pre | console | th | td | table | program | blockquote | thead | li | ol | col) | (b | span | a | code | dfn | abbr | tt | cite | comment | img | note | sen | acronym | q | p | em | i))*)>
<!ATTLIST chapter id ID #IMPLIED>
<!ATTLIST chapter class NMTOKEN #IMPLIED>
<!ATTLIST chapter style CDATA #IMPLIED>

<!ELEMENT dd (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST dd id ID #IMPLIED>
<!ATTLIST dd class NMTOKEN #IMPLIED>
<!ATTLIST dd style CDATA #IMPLIED>

<!ELEMENT subsection (title, (subsubsection | (tnote | ul | tfoot | rowgroup | div | colgroup | dt | figure | dl | tbody | tr | fyi | dd | pre | console | th | td | table | program | blockquote | thead | li | ol | col) | (b | span | a | code | dfn | abbr | tt | cite | comment | img | note | sen | acronym | q | p | em | i))*)>
<!ATTLIST subsection id ID #IMPLIED>
<!ATTLIST subsection class NMTOKEN #IMPLIED>
<!ATTLIST subsection style CDATA #IMPLIED>

<!ELEMENT pre (#PCDATA | title)*>
<!ATTLIST pre id ID #IMPLIED>
<!ATTLIST pre class NMTOKEN #IMPLIED>
<!ATTLIST pre style CDATA #IMPLIED>

<!ELEMENT console (#PCDATA | title)*>
<!ATTLIST console id ID #IMPLIED>
<!ATTLIST console class NMTOKEN #IMPLIED>
<!ATTLIST console style CDATA #IMPLIED>

<!ELEMENT head (date | author | abstract | title | hp)*>
<!ATTLIST head id ID #IMPLIED>
<!ATTLIST head class NMTOKEN #IMPLIED>
<!ATTLIST head style CDATA #IMPLIED>

<!ELEMENT part (title, (chapter | (tnote | ul | tfoot | rowgroup | div | colgroup | dt | figure | dl | tbody | tr | fyi | dd | pre | console | th | td | table | program | blockquote | thead | li | ol | col) | (b | span | a | code | dfn | abbr | tt | cite | comment | img | note | sen | acronym | q | p | em | i))*)>
<!ATTLIST part id ID #IMPLIED>
<!ATTLIST part class NMTOKEN #IMPLIED>
<!ATTLIST part style CDATA #IMPLIED>

<!ELEMENT th (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST th id ID #IMPLIED>
<!ATTLIST th class NMTOKEN #IMPLIED>
<!ATTLIST th style CDATA #IMPLIED>
<!ATTLIST th rowspan CDATA #IMPLIED>
<!ATTLIST th colspan CDATA #IMPLIED>
<!ATTLIST th align NMTOKEN #IMPLIED>

<!ELEMENT td (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST td id ID #IMPLIED>
<!ATTLIST td class NMTOKEN #IMPLIED>
<!ATTLIST td style CDATA #IMPLIED>
<!ATTLIST td rowspan CDATA #IMPLIED>
<!ATTLIST td colspan CDATA #IMPLIED>
<!ATTLIST td align NMTOKEN #IMPLIED>

<!ELEMENT date (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST date id ID #IMPLIED>
<!ATTLIST date class NMTOKEN #IMPLIED>
<!ATTLIST date style CDATA #IMPLIED>

<!ELEMENT doc (head, body)>
<!ATTLIST doc id ID #IMPLIED>
<!ATTLIST doc class NMTOKEN #IMPLIED>
<!ATTLIST doc style CDATA #IMPLIED>

<!ELEMENT img (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST img id ID #IMPLIED>
<!ATTLIST img class NMTOKEN #IMPLIED>
<!ATTLIST img style CDATA #IMPLIED>

<!ELEMENT author (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST author id ID #IMPLIED>
<!ATTLIST author class NMTOKEN #IMPLIED>
<!ATTLIST author style CDATA #IMPLIED>

<!ELEMENT note (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST note id ID #IMPLIED>
<!ATTLIST note class NMTOKEN #IMPLIED>
<!ATTLIST note style CDATA #IMPLIED>

<!ELEMENT abstract (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST abstract id ID #IMPLIED>
<!ATTLIST abstract class NMTOKEN #IMPLIED>
<!ATTLIST abstract style CDATA #IMPLIED>

<!ELEMENT table (title?, colgroup*, thead?, tfoot?, tbody, tnote?)>
<!ATTLIST table id ID #IMPLIED>
<!ATTLIST table class NMTOKEN #IMPLIED>
<!ATTLIST table style CDATA #IMPLIED>

<!ELEMENT program (#PCDATA | title)*>
<!ATTLIST program id ID #IMPLIED>
<!ATTLIST program class NMTOKEN #IMPLIED>
<!ATTLIST program style CDATA #IMPLIED>

<!ELEMENT title (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST title id ID #IMPLIED>
<!ATTLIST title class NMTOKEN #IMPLIED>
<!ATTLIST title style CDATA #IMPLIED>

<!ELEMENT sen (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST sen id ID #IMPLIED>
<!ATTLIST sen class NMTOKEN #IMPLIED>
<!ATTLIST sen style CDATA #IMPLIED>

<!ELEMENT blockquote (#PCDATA | fyi | figure | ul | ol | li | dl | dt | dd | table | rowgroup | colgroup | col | thead | tfoot | tbody | tr | th | td | tnote | pre | program | console | div | blockquote | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST blockquote id ID #IMPLIED>
<!ATTLIST blockquote class NMTOKEN #IMPLIED>
<!ATTLIST blockquote style CDATA #IMPLIED>

<!ELEMENT thead (tr*)>
<!ATTLIST thead id ID #IMPLIED>
<!ATTLIST thead class NMTOKEN #IMPLIED>
<!ATTLIST thead style CDATA #IMPLIED>

<!ELEMENT li (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q | fyi | figure | ul | ol | li | dl | dt | dd | table | rowgroup | colgroup | col | thead | tfoot | tbody | tr | th | td | tnote | pre | program | console | div | blockquote)*>
<!ATTLIST li id ID #IMPLIED>
<!ATTLIST li class NMTOKEN #IMPLIED>
<!ATTLIST li style CDATA #IMPLIED>

<!ELEMENT acronym (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST acronym id ID #IMPLIED>
<!ATTLIST acronym class NMTOKEN #IMPLIED>
<!ATTLIST acronym style CDATA #IMPLIED>

<!ELEMENT body (appendix | chapter | part | section | (tnote | ul | tfoot | rowgroup | div | colgroup | dt | figure | dl | tbody | tr | fyi | dd | pre | console | th | td | table | program | blockquote | thead | li | ol | col) | (b | span | a | code | dfn | abbr | tt | cite | comment | img | note | sen | acronym | q | p | em | i))*>
<!ATTLIST body id ID #IMPLIED>
<!ATTLIST body class NMTOKEN #IMPLIED>
<!ATTLIST body style CDATA #IMPLIED>

<!ELEMENT section (title, (subsection | (tnote | ul | tfoot | rowgroup | div | colgroup | dt | figure | dl | tbody | tr | fyi | dd | pre | console | th | td | table | program | blockquote | thead | li | ol | col) | (b | span | a | code | dfn | abbr | tt | cite | comment | img | note | sen | acronym | q | p | em | i))*)>
<!ATTLIST section id ID #IMPLIED>
<!ATTLIST section class NMTOKEN #IMPLIED>
<!ATTLIST section style CDATA #IMPLIED>

<!ELEMENT ol (li | ol)*>
<!ATTLIST ol id ID #IMPLIED>
<!ATTLIST ol class NMTOKEN #IMPLIED>
<!ATTLIST ol style CDATA #IMPLIED>

<!ELEMENT q (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST q id ID #IMPLIED>
<!ATTLIST q class NMTOKEN #IMPLIED>
<!ATTLIST q style CDATA #IMPLIED>

<!ELEMENT col (#PCDATA)>
<!ATTLIST col id ID #IMPLIED>
<!ATTLIST col class NMTOKEN #IMPLIED>
<!ATTLIST col style CDATA #IMPLIED>
<!ATTLIST col align CDATA #IMPLIED>

<!ELEMENT p (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST p id ID #IMPLIED>
<!ATTLIST p class NMTOKEN #IMPLIED>
<!ATTLIST p style CDATA #IMPLIED>

<!ELEMENT em (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST em id ID #IMPLIED>
<!ATTLIST em class NMTOKEN #IMPLIED>
<!ATTLIST em style CDATA #IMPLIED>

<!ELEMENT i (#PCDATA | p | sen | img | a | cite | comment | note | span | b | i | dfn | tt | em | abbr | acronym | code | q)*>
<!ATTLIST i id ID #IMPLIED>
<!ATTLIST i class NMTOKEN #IMPLIED>
<!ATTLIST i style CDATA #IMPLIED>

<!ELEMENT hp (#PCDATA)>
<!ATTLIST hp id ID #IMPLIED>
<!ATTLIST hp class NMTOKEN #IMPLIED>
<!ATTLIST hp style CDATA #IMPLIED>
