src/main/resources/org/xmlsmartdoc/SmartDoc/normalizer/hilight/hilightData.dtd

<!-- Generated by Relaxer 0.17b -->
<!-- Wed May 08 06:37:03 JST 2002 -->

<!ELEMENT syntax (word*)>
<!ATTLIST syntax name CDATA #REQUIRED>

<!ELEMENT word (expression*)>
<!ATTLIST word tagClass CDATA #REQUIRED>
<!ATTLIST word cssClass CDATA #REQUIRED>
<!ATTLIST word regex CDATA #IMPLIED>

<!ELEMENT hilightData (syntax*)>

<!ELEMENT expression (#PCDATA)>
